.timeline {
	/* margin: 300px auto; */
	list-style-type: none;
	font-family: sans-serif;
	/* color: #01ab97; */
}

img {
	width: 70px;
	margin-bottom: 20px;
}

ul {
	text-align: center;
}

ul#menu li {
	display: inline-block;
	width: 180px;
	position: relative;
}

ul#menu li .fa {
	background: #ccc;
	width: 30px;
	height: 30px;
	color: #fff;
	border-radius: 50%;
	padding: 7px;
}

ul#menu li .fa::after {
	content: '';
	position: absolute;
	width: 185px;
	height: 4px;
	background-color: #ccc;
	left: 0;
	top: 100px;
	z-index: -1;
}
/* 
ul#menu li:nth-child(4) .fa {
	background-color: #033e03;
}  */

/* ul#menu li:nth-child(4) .fa::after {
	background-color: #148e14; } */

/* ul#menu li:nth-child(1) .fa,
ul#menu li:nth-child(2) .fa,
ul#menu li:nth-child(3) .fa {
	background-color: #129b79;
} */

ul#menu li:nth-child(1) .fa::after,
ul#menu li:nth-child(2) .fa::after,
ul#menu li:nth-child(3) .fa::after {
	background-color: #074334;
}

ul#menu li:first-child .fa::after {
	width: 85px;
	left: 100px;
}

ul#menu li:last-child .fa::after {
	width: 85px;
}